# Ignore lo*cal app data
cookies/*
chrome_data/*
utils/chrome_data/
utils/cookies/
config.json*
config.json
__pycache__/
**/bin/
**/obj/
dist/
build/
*.spec
utils/winui_drops_cache.json
example_response.json
/useful data
progressapi_exampleresult.json
streamerinfo_example.json
